 @import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    
}

body{
    vertical-align: baseline;
    background-color: #647D87 !important;
    
}

.tarjetasPrincipal{
   display: grid;
   grid-template-areas: 
    "a b c"
    "d e f"
    "g h i"
    "j k l"
    "m n ñ"
    "o p q";
    justify-content: space-evenly;
     margin-top: 10%;
}

.fondoColor{
    background-color: #F6D776;
}
.contenedorCard{
    margin-bottom: 50px;
    min-width: 116% !important;
    
}
.imgSpace{
    height: 60% !important;
    
}

/* comienza la barra nav */

.containedor{
    max-width: 1100px;
    margin: 0 auto;
}
.back{
    padding: 32px 0;
    background-color: #F6D776;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px ;
    color: darkslategrey;
    
}

#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer ;/*cursor*/
    display: none;
}


.menu .navbar ul li a:hover{
    border-bottom: 4px solid cornflowerblue;
}


.img {
    height: 60px;
    width: auto;
}

/* termina la barra nav */




/*comienza 763*/
@media(min-width:763px) and (max-width:1200px) {

    .tarjetasPrincipal{
        display: grid;
        grid-template-areas: 
        "a b "
        "c d "
        "e f "
        "g h "
        "i j"
        "k l"
        "m n"
        "ñ o"
        "p q";
        justify-content: space-around;
         margin-top: 20%;
         min-width: 100%;
         

    }
    .contenedorCard{
        margin-bottom: 50px;
    min-width: 100% !important;
    }
    
 }
 /*comienza 762*/
 @media(max-width:762px){
    
    
    .tarjetasPrincipal{
        display: grid;
        grid-template-areas: 
        "a b "
        "c d "
        "e f "
        "g h "
        "i j"
        "k l"
        "m n"
        "ñ o"
        "p q";
        justify-content: space-around;
         margin-top: 20%;
         min-width: 100%;
         

    }
    .contenedorCard{
        margin-bottom: 50px;
    min-width: 100% !important;
    }
    
    
    
    /*comienza barra nav*/
    .menu{
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .back {
        padding: 64px 0;
        text-transform: uppercase;
        font-weight: bold;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F6D776;
        display: none;
        text-align: center;
        
    }
    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a{
        padding: 0;
        
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
    .menu-icono{
        width: 60px;
    }
    .img{
        display: none;
    }
    .menu .navbar ul li a:hover{
        border-bottom: 1px solid cornflowerblue;
    }
    /*termina barra nav*/
}
 



@media(max-width:762px) {
    
    
    .tarjetasPrincipal{
        display: grid;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j"
        "k"
        "l"
        "m"
        "n"
        "ñ"
        "o"
        "p"
        "q";
        justify-content: space-around;
         margin-top: 20%;
         min-width: 100%;
         

    }
    .contenedorCard{
        margin-bottom: 50px;
    min-width: 100% !important;
    }
    
    
    
    /*comienza barra nav*/
    .menu{
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .back {
        padding: 64px 0;
        text-transform: uppercase;
        font-weight: bold;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F6D776;
        display: none;
        text-align: center;
        
    }
    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a{
        padding: 0;
        
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
    .menu-icono{
        width: 60px;
    }
    .img{
        display: none;
    }
    .menu .navbar ul li a:hover{
        border-bottom: 1px solid cornflowerblue;
    }
    /*termina barra nav*/
}